body {
    font-size: 17px;
    background-color: #0f0f0f;
    color: #dadada;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto;
    user-select: none;
    pointer-events: none;
}

a {
    color: #dadada;
}

.cuadro {
    border: 6px double;
    padding: 0 18px 0 18px;
    justify-content: 0 auto;
    border-radius: 5px;
    width: auto;
}

.anuncio {
    padding: 10px;
    width: 99.92%;
    justify-content: 0 auto;
    border-radius: 5px;
    background-color: #252525;
}

.header-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.medio {
    margin-left: 20px;
    margin-right: 20px;
}

.footer-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
